html {
    margin: 0;
    padding: 0;
}

/* CSS styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: blue;
}

p {
    color: green;
}

.header {
    height: 100vh; /* Height equal to 100% of viewport height */
/*     background-color: #FFFFFF; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('stone.jpg'); /* Replace 'example.jpg' with the path to your image */
    background-repeat: repeat;
}

.box1 {
    height: 100vh; /* Height equal to 100% of viewport height */
    background-color: #0E232E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 6.2em;
    color: #FFFFFF; /* Title color */
    position: relative; /* Position relative for absolute positioning */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}


.text1 {
    font-size: 2.2em;
    color: #FFFFFF; /* Title color */
    position: relative; /* Position relative for absolute positioning */
}

.title::after {
            content: attr(data-title); /* Display content from data-title attribute */
            position: absolute; /* Position the pseudo-element */
            top: 0;
            left: 0;
            z-index: -1; /* Place behind the actual text */
            font-size: 2em;
            color: transparent; /* Make text transparent */
            text-shadow: 
                0 0 10px #FF0000, 
                0 0 20px #FF7F00, 
                0 0 30px #FFFF00, 
                0 0 40px #00FF00, 
                0 0 50px #0000FF, 
                0 0 60px #4B0082, 
                0 0 70px #8B00FF; /* Apply rainbow shadow */
            animation: rotate-rainbow-shadow 10s linear infinite; /* Animation for rotating rainbow shadow */
        }

        @keyframes rotate-rainbow-shadow {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

