/* CSS styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
}

h1 {
    color: blue;
}

p {
    color: green;
}

.header {
    height: 100vh; /* Height equal to 100% of viewport height */
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: "white";
    font-size: 8em;
    text-shadow: 0 0 10px #FF0000, 0 0 20px #FF7F00, 0 0 30px #FFFF00, 0 0 40px #00FF00, 0 0 50px #0000FF, 0 0 60px #4B0082, 0 0 70px #8B00FF;
    animation: rotate-rainbow-shadow 3s linear infinite;
}

@keyframes rotate-rainbow-shadow {
    0% { text-shadow: 0 0 10px #FF0000, 0 0 20px #FF7F00, 0 0 30px #FFFF00, 0 0 40px #00FF00, 0 0 50px #0000FF, 0 0 60px #4B0082, 0 0 70px #8B00FF; transform: rotate(0deg); }
    100% { text-shadow: 0 0 20px #FF0000, 0 0 40px #FF7F00, 0 0 60px #FFFF00, 0 0 80px #00FF00, 0 0 100px #0000FF, 0 0 120px #4B0082, 0 0 140px #8B00FF; transform: rotate(360deg); }
}

